cover_db
META.yml
Makefile
blib
inc
pm_to_blib
MANIFEST
Makefile.old
nytprof.out
*.sw[po]
*.bak
inc/
ppport.h
*.old
Build
_build/
xshelper.h
tags
blib/
MYMETA.*
README
^inc/
HTML-Shakan-*/
/HTML-Shakan-*
/.build
/_build_params
/Build
!Build/
!META.json
