language: perl
perl:
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
before_install: cpanm -n Devel::Cover::Report::Coveralls
install:        cpanm --with-recommends --notest --installdeps .
script:         perl Build.PL && ./Build build && cover -test -report coveralls
